@import '../../styles/variables';
@import "../../styles/layouts";

.app-admin-container{
    display: flex;
    nav{
        max-width: 200px;
    }

    main{
        position: relative;
        top: $admin-header-height;
        flex: 1 1 auto;
    }
}