@import "../../../styles/variables";
@import "../../../styles/layouts";


:host {
  position: relative;
}
.last-studies-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 800px;
  align-content: flex-start;
 
  app-last-studies {
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
   
  }
}

.paginator-container{
  margin-top: 30px;
  .layout-row{
    justify-content: center;
  }
  .layout-col{
   padding-right: 50px;
  }
}
::ng-deep .mat-mdc-paginator-outer-container{
  background-color: $white-color;
  border: 1px solid $border-color;
}

.action-menu-container{
  height: 60px;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
