.main-container{
    .search-bar-container{
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: center;
    }
    .search-links-container{
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: center;
    }
    .hero-container{
        margin-block-start: 5rem;
        block-size: 350px;
        display: flex;
        justify-content: center;
    }
}