<div class="main-container">
    <div class="search-bar-container">
        <app-search-bar></app-search-bar>
    </div>
    <div class="search-links-container">
        <app-search-links></app-search-links>
    </div>
    <div class="hero-container">
        <app-hero></app-hero>
    </div>
    <div>
        <h2 class="hero-2-container">Top World Statistics</h2>
    </div>
    <div class="card-statistics-container">
        <app-card-statistics></app-card-statistics>
        <app-card-statistics></app-card-statistics>
        <app-card-statistics></app-card-statistics>
        <app-card-statistics></app-card-statistics>
    </div>
    <div>
        <h2 class="hero-2-container">Last Studies</h2>
    </div>
    <div class="last-studies-container">
        <app-last-studies></app-last-studies>
        <app-last-studies></app-last-studies>
        <app-last-studies></app-last-studies>
    </div>
    <div class="last-studies-carousel-container">
        <app-carousel></app-carousel>
    </div>
</div>