$first-color:#4472C4;
$bg-color: #f7f9fc;
$component-bg-color: #ffffff;
$first-white-color: #F5F5F5;
$white-color: #fff;
$black-color: #000;
$gray-color: #b4b4b4;
$alice-blue: aliceblue;
$text-gray-color:#b4b4b4;
$text-first-color:#1A1A1A;
$text-theme-color:$first-color;
$text-white-color: #F5F5F5;
$border-color:#e0e0e0;