<!-- Main Users Container-->
 <div class="users-container">

    <!-- Category Toolbar -->
  <div class="c-container action-menu-container">
    <div class="c-row">
      <div class="c-col action-menu-wrapper">

        <mat-toolbar>

          <span>Users</span>
          <span class="spacer"></span>

          <button mat-raised-button style="margin-right: 1rem;" 
           >
            Edit
          </button>

          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>

        </mat-toolbar>
      </div>
    </div>
  </div>
  <!-- Category Toolbar -->

 </div>
<!-- Main Users Container-->