<div class="report-card-wrapper">
    <mat-card appearance="outlined">
        <mat-card-header>
            <h2>Türkiye de kullanılan yemek e-hizmet servisleri</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Yemek istatistikleri, farklı yemek türlerinin popülerliğini ve tüketim eğilimlerini analiz eder. Bu veriler, hangi yemeklerin en çok tercih edildiğini ve hangi besin maddelerinin daha fazla tüketildiğini gösterir. Ayrıca, bölgesel farklılıklar ve demografik özellikler göz önünde bulundurularak yemek alışkanlıklarını anlamaya yardımcı olur. Sonuçlar, restoranlar ve gıda endüstrisi için stratejik kararlar almak ve menüleri optimize etmek için değerli bilgiler sağlar. Bu istatistikler, sağlıklı beslenme trendlerini takip etmek isteyen bireyler için de önemli bir kaynak olabilir.</p>
        </mat-card-content>
    </mat-card>
</div>
