@import "../../styles/variables";
.app-content-container{
    max-inline-size: 1140px;
    margin: 0 auto;
    min-height: calc(100vh - $main-header-height - $main-footer-height - 100px);
    
}
:host{
    position: relative;
}