<h1>Shared Components & Layouts</h1>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Descriptive Table</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-descriptive-table></app-descriptive-table>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Google Pie Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-pie-chart></app-pie-chart>
    </mat-card-content>
</mat-card>

