@import '../../../../styles/variables';
@import '../../../../styles/layouts';

.categories-container {
  width: 100%;
  margin-top: 75px;
}

.categories-table {
  box-shadow: none;
  background-color: $white-color;
  border: 1px solid $border-color;
}
.form-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-wrapper {
  max-width: 800px;
  form {
    display: flex;
    flex-direction: column;
    .mat-mdc-form-field {
      display: flex;
    }
  }
  [formArrayName='subcategories'] {
    display: flex;
    flex-direction: column;
  }
}

.add-category-container {
  margin-bottom: 30px;

  .add-category-wrapper {
    flex-direction: row;
    align-items: center;
    position: relative;
    button {
      width: 60px;
      margin-right: 1rem;
      position: absolute;
      right: 0;
      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }
  }
}

.add-sub-field {
  position: relative;
}

.remove-sub-btn {
  position: absolute;
  right: 0;
  top: 7.5px;
  background-color: red;
  mat-icon {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  &:hover {
    background-color: lighten($color: red, $amount: 5%);
  }
}

.spacer {
  flex: 1 1 auto;
}

.action-menu-wrapper {
  mat-toolbar {
    background-color: $alice-blue-color;
  }
}

.mat-mdc-table {
  max-height: 650px;
  min-height: 650px;
}

.confirm-container {
  justify-content: center;
  align-items: center;
  background-color: $white-color;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px !important;
  height: 50px !important;
}

.paginator-container {
  margin-top: 1.25rem;

  .mat-mdc-paginator {
    background-color: $alice-blue-color !important;
  }
}
