<div class="editor-container">

    <!--Editor Toolbar-->
    <div class="c-container">
        <div class="c-row">
            <div class="c-col">

                <mat-toolbar class="editor-toolbar-wrapper">
                    <!--Paragraphs-->
                    <button type="button" mat-icon-button [matMenuTriggerFor]="addParagraphMenu">
                        <mat-icon>subject</mat-icon>
                    </button>

                    <mat-menu #addParagraphMenu="matMenu">

                        <button mat-menu-item (click) = "addParagraphBlock()">
                            <mat-icon>subject</mat-icon> Paragraph
                        </button>

                        <button mat-menu-item >

                            <mat-icon>title</mat-icon> Başlık 1 (H1)
                        </button>

                        <button mat-menu-item >

                            <mat-icon>title</mat-icon> Başlık 2 (H2)
                        </button>
                        <button mat-menu-item >

                            <mat-icon>title</mat-icon> Başlık 3 (H3)
                        </button>
                        <button mat-menu-item >

                            <mat-icon>title</mat-icon> Başlık 4 (H4)
                        </button>

                        <button mat-menu-item >

                            <mat-icon>title</mat-icon> Başlık 5 (H5)
                        </button>

                        <button mat-menu-item >
                            <mat-icon>title</mat-icon> Başlık 6 (H6)
                        </button>

                    </mat-menu>
                    <!--Paragraphs-->

                    <!--Resources-->
                    <button type="button" mat-icon-button [matMenuTriggerFor]="addResourcesMenu">
                        <mat-icon>widgets</mat-icon>
                    </button>

                    <mat-menu #addResourcesMenu="matMenu">
                        <button mat-menu-item type="button"><mat-icon>insert_photo</mat-icon> Resim</button>
                        <button mat-menu-item type="button"><mat-icon>videocam</mat-icon> Video</button>
                        <button mat-menu-item type="button"><mat-icon>link</mat-icon> Bağlantı</button>
                        <button mat-menu-item type="button"><mat-icon>table_chart</mat-icon> Tablo</button>
                    </mat-menu>
                    <!--Resources-->

                    <button mat-icon-button matTooltip="make bold" type="button" (click) = "addStyle({bold: true})">
                        <mat-icon>format_bold</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_italic</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_underlined</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_list_bulleted</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_list_numbered</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_align_left</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_align_center</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_align_right</mat-icon>
                    </button>
                    <button mat-icon-button type="button">
                        <mat-icon>format_align_justify</mat-icon>
                    </button>

                </mat-toolbar>

            </div>
        </div>
    </div>
    <!--Editor Toolbar-->

    <div class="c-container content-container">
        <div class="c-row">
            <div class="c-col content-wrapper" >
                  <ng-container *ngFor="let block of blocks()">
                    <ng-container [ngSwitch]="block.type">

                        <app-paragraph-block 
                            *ngSwitchCase="'paragraph'"
                            [content]="getParagraphContent(block)"
                            [block] = "block"
                           >
                        </app-paragraph-block>

                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

</div>