@import '../../../styles/variables';
@import '../../../styles/layouts';
@import '../../../styles/mixins';

.spacer {
  @include spacer;
}

.spinner {
  @include spinner;
}

.categories-table {
  @include table;
}

.action-menu-wrapper {
  mat-toolbar {
    @include toolbar;
  }
}

.paginator-container {
  @include paginator;
}

.editor-toolbar-wrapper {
  @include toolbar;
}

.content-container {
  

  .content-wrapper{
    min-height: 485px;
    max-height: 485px;
    overflow-y: scroll;
    background-color: $white-color;

  }
}

.editor-input-container{
  display: flex;
  border: 1px solid $border-color;
  align-items: flex-start; /* Üste hizala ki genişleme görünsün */
  min-height: 50px;
  max-height: 300px; /* Çok fazla büyümemesi için bir sınır koy */
  padding: 5px;
  overflow-y: auto; /* İçerik büyüdüğünde scroll olmasını sağla */
}
.editor-input-wrapper {
  display: inline-block; /* Inline-block yerine block yap */
  min-width: 10px;
  min-height: 40px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  vertical-align: top;
  &:focus {
    outline: none;
  }
}

.stronger{
  font-weight: 600;
}

