@import '../../../styles/variables';
.carousel-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    .carousel-screen{
        width: 100%;
        height: 100%;
        position: relative;
        .carousel-slider{
            display: flex;
            width: 100vw;
            position: absolute;
            transition: transform 0.5s ease-in-out;
        }
        
    }
    button:first-of-type{
        background-color: $white-color;
        border: 1px solid $first-color;
        color: $first-color;
        position: absolute;
        top: 45%;
        left: 10px;
        inline-size: 32px;
        block-size: 32px;
       
    } 
    button:last-of-type{
        background-color: $white-color;
        border: 1px solid $first-color;
        color: $first-color;
        position: absolute;
        top: 45%;
        right: 10px;
        inline-size: 32px;
        block-size: 32px;
    }
}
