@import "../../../styles/variables";

.logo-wrapper {
  a {
    text-decoration: none;
    padding: 3px;
    .logo {
      font-size: 2rem;
      font-weight: 600;
      color: $first-color;
    }
  }
}
