<div class="dashboard-wrapper">
    <div class="c-container indicator-top-container">
        <!-- Row 1 -->
        <div class="c-row indicator-container">
            <!-- Column1 -->
            <div class="c-col ">
                <div class="indicator-wrapper">
                    <div class="total-pages">
                        <span class="indicator-header">Toplam Sayfa</span>
                        <p>0</p>
                    </div>
                </div>
            </div>
            <!-- Column2 -->
            <div class="c-col ">
                <div class="indicator-wrapper">
                    a
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="c-row indicator-container">
            <!-- Column1 -->
            <div class="c-col">
                <div class="indicator-wrapper">
                    a
                </div>
            </div>
            <!-- Column1 -->
            <div class="c-col">
                <div class="indicator-wrapper">
                    a
                </div>
            </div>
        </div>
    </div> 
</div>
