@import '../../../styles/variables';

.menu-bar-wrapper{
    .menu-bar{
        ul{
            display: flex;
            li{
                list-style-type: none;
                margin: 0.75rem;
                a{
                    font-size: 1.25rem;
                    text-decoration: none;
                    color: $first-color;
                    font-weight: 500;
                    padding: 3px;
                }
            }
        }
    }
}
