/* You can add global styles to this file, and also import other style files */
@import "styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-first-color;
  background-color: $bg-color;

}
h1 {
  font-size: 2.5rem !important;
  font-weight: 500 !important;
  line-height: 1.25 !important;
}

h2 {
  font-size: 2rem !important;
  line-height: 1.25 !important;
}

h3 {
  font-size: 1.75rem !important;
  line-height: 1.25 !important;
}

p {
  line-height: 1.75 !important;
}

@media (max-width: 600px) {
  html {
    font-size: 12px !important; // Küçük ekranlar için
  }
}

@media (min-width: 601px) {
  html {
    font-size: 16px !important; // Büyük ekranlar için
  }
}
