<!-- Main Panel Container -->
<div class="main-panel-container">

    <div class="c-container panel-container">

        <div class="c-row feat-wrapper">
            <div class="c-col feat">
                <p>a</p>
            </div>
            <div class="c-col feat">
                <p>a</p>
            </div>
        </div>
        
        <div class="c-row feat-wrapper">
            <div class="c-col feat">
                <p>b</p>
            </div>
            <div class="c-col feat">
                <p>b</p>
            </div>
        </div>

    </div>

</div>
<!-- Main Panel Container -->