<div class="dashboard-wrapper">
    <div class="layout-container">
        <!-- Row 1 -->
        <div class="layout-row">
            <!-- Column1 -->
            <div class="layout-col">
                <div class="dashboard-indicator">
                    <div class="total-pages">
                        <span class="indicator-header">Toplam Sayfa</span>
                        <p>0</p>
                    </div>
                </div>
            </div>
            <!-- Column2 -->
            <div class="layout-col">
                <div class="dashboard-indicator">
                    
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="layout-row">
            <!-- Column1 -->
            <div class="layout-col">
                <div class="dashboard-indicator">
                    
                </div>
            </div>
            <!-- Column1 -->
            <div class="layout-col">
                <div class="dashboard-indicator">
                    
                </div>
            </div>
        </div>
    </div> 
</div>


<!-- 
<div class="dashboard-wrapper">
    <div class="layout-container">
        <div class="layout-row">
            <div class="layout-col">Row 1 Col1</div>
            <div class="layout-col">Row 1 Col2</div>
        </div>
        <div class="layout-row">
            <div class="layout-col">Row 2 Col1</div>
            <div class="layout-col">Row 2 Col2</div>
        </div>
    </div> 
</div>
-->