@import '../../../../styles/variables';
.admin-header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $white-color;
    z-index: 99;
}