<footer class="footer-container">
    <div class="footer-wrapper">
    <div class="layout-container">

        <div class="layout-row footer-items">

            <div class="layout-col">
                <nav>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Feedback</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Donate</a></li>
                    </ul>
                </nav>
            </div>

            <div class="layout-col">
                <nav>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Feedback</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Donate</a></li>
                    </ul>
                </nav>
            </div>

            <div class="layout-col">
                <nav>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Feedback</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Donate</a></li>
                    </ul>
                </nav>
            </div>
        </div> 

    </div>
</div>
</footer>
