<div class="main-container">
    <div class="search-bar-container">
        <app-search-bar></app-search-bar>
    </div>
    <div class="search-links-container">
        <app-search-links></app-search-links>
    </div>
    <div class="hero-container">
        <app-hero></app-hero>
    </div>
    <div>
        <h2 class="hero-2-container">Top World Statistics</h2>
    </div>
    <div class="card-statistics-container">
        @for (item of cardData; track $index) {
            <app-card-statistics [imgSrc]="item.cardImg" [contentHeader]="item.cardHeader" [content]="item.cardContent"></app-card-statistics>
        }
    </div>
    <div>
        <h3 class="hero-2-container">Last Studies</h3>
    </div>
    <div class="last-studies-carousel-container">
        <app-carousel [width]="'800px'" [height]="'400px'" [itemWidth]="(275)" [itemHeight]="400"
            (currentIndexEvent)="currentIndexChange($event)" >
            @for (item of cardData; track $index) {
            <app-last-studies [imgSrc]="item.cardImg" [contentHeader]="item.cardHeader" [content]="item.cardContent" style="margin-right: 25px;"></app-last-studies>
        }
        </app-carousel>
    </div>
</div>