@import '../../../styles/variables';
.hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100%;
    inline-size: 800px;
    gap:5%;
    .hero-img{
        block-size: 100%;
        flex-grow: 1;    
        flex-shrink: 1;
        flex-basis: 50%;
    }
    .hero-text{
        color: $text-first-color;
        font-size: 1.50rem;
        font-weight: 400;
        text-align: center;
        line-height: 2ch;
        flex-grow: 1;    
        flex-shrink: 1;
        flex-basis: 50%;
        margin-block-end: 2rem; 
    }
}